<%= render 'search_form' %>

<div id="chart" style="width: 800px; height: 500px;"></div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const chartDom = document.getElementById('chart');
  const myChart = echarts.init(chartDom, 'dark');

  const data = <%= raw @data.to_json %>;

  const option = {
    title: { text: 'Car Prices by Year' },
    tooltip: {
      trigger: 'item',
      formatter: function(params) {
        const date = new Date(params.data.value[0]);
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0'); // maand 0–11

        let text = `
          ${params.data.type}<br>
          Year: ${year}-${month}<br>
          Price: ${params.data.value[1]}<br>
          KM: ${params.data.km}<br>
          ${params.data.version}
        `;

         if (params.data.comments && params.data.comments.trim() !== "") {
          text += `<br><br>${params.data.comments}`;
        }

        return text;
      }
    },
    xAxis: {
      name: 'Year',
      type: 'time'
    },
    yAxis: {
      name: 'Price',
      type: 'value',
      min: <%= @cars.minimum(:price) -1000 %>
    },
    series: [
      {
        type: 'scatter',
        data: data,
        symbolSize: 10
      },
      {
        type: 'line',
        data: <%= raw @trendline.to_json %>,
        symbol: 'none',
        lineStyle: { color: 'yellow', width: 2 }
      }
    ]
  };

  myChart.setOption(option);

  // Make dots clickable
  myChart.on('click', function(params) {
    if (params.data.url) {
      window.location.href = params.data.url;
    }
  });
});
</script>