<%= render 'search_form' %>

<%=
  line_chart @cars,
    prefix: "€",
    height: "600px",
    min: @minprice,
    max: @maxprice,
    ytitle: "Prijs",
    xtitle: "Bouwjaar",
    adapter: "highcharts",
    library: {
      backgroundColor: "#eee",
      xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: {
          month: '%b %Y',   # Format for month and year
          year: '%Y',       # Format for the year
        },
        labels: {
          format: '{value:%b %Y}'  # Format for the labels on the x-axis
        }
      },
      tooltip: {
        useHTML: true,
        pointFormat: '<table>' +
          '<tr><td>prijs: </td><td>€{point.y}</td></tr>' +
          '<tr><td>bouwjaar: </td><td>{point.x:%Y-%m-%d}</td></tr>' +
          # '<tr><td>km: </td><td>{series.scatter.data}</td></tr>' +
          '</table>'
      },
      chart: {
        zoomType: 'xy',
        panning: true,
        panKey: 'shift'
      }
    }
 %>
